@let def = fieldDefinition();

@if (isBusy() || !def) {
    <div class="d-inline">
        <span class="fa fa-spinner loading-spinner"></span>
    </div>
} @else {
    <div class="d-inline">
        <ng-template #popTitle>
            <div class="popoverHoverRegion" (mouseenter)="popoverMouseEnter()" (mouseleave)="popoverMouseLeave()">
                <div class="row">
                    <div class="col-auto mr-auto">
                        <div class="mt-1">{{def.FieldDefinitionType.FieldDefinitionTypeDisplayName}}</div>
                    </div>
                    @if (!isEditing()) {
                        <div class="col-auto">
                            <div class="row">
                                <div class="col-sm-2 pl-0 pr-0">
                                    <button type="button" class="btn btn-link" (click)="enterEdit()">
                                        <i class="fa fa-pencil-square-o" attr.aria-label="Edit the definition for {{def.FieldDefinitionType.FieldDefinitionTypeDisplayName}}">
                                        </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </ng-template>
        <ng-template #popContent>
            <div class="popoverHoverRegion" (mouseenter)="popoverMouseEnter()" (mouseleave)="popoverMouseLeave()">
                @if (isEditing()) {
                    <editor #tinyMceEditor [init]="editorConfig" [ngModel]="editedContent()" (ngModelChange)="editedContent.set($event)"></editor>
                    <div style="float:right;">
                        <button type="button" class="btn btn-sm btn-fresca mt-1 mr-1 mb-1" (click)="saveEdit()">Save</button>
                        <button type="button" class="btn btn-sm btn-secondary mt-1 mb-1" (click)="cancelEdit()">Cancel</button>
                    </div>
                } @else if (canEdit()) {
                    <div style="position: relative; min-height: 30px;">
                        @if (hasContent()) {
                            <div [innerHtml]="def.FieldDefinitionValue"></div>
                        } @else {
                            <div class="hoverEmptySpace"></div>
                        }
                    </div>
                } @else {
                    <div [innerHtml]="def.FieldDefinitionValue"></div>
                }
            </div>
        </ng-template>
        @if (canEdit()) {
            <span (mouseenter)="labelMouseEnter()" (mouseleave)="labelMouseLeave()">
                {{labelText()}}
                <i class="fas fa-question-circle small" style="cursor: help;" #p="ngbPopover" [ngbPopover]="popContent"
                    [popoverTitle]="popTitle" triggers="manual" [autoClose]="false" [placement]="['right', 'auto']"
                    popoverClass="popover-override" container="body">
                </i>
            </span>
        } @else {
            <span>
                {{labelText()}}
                <i class="fas fa-question-circle small" style="cursor: help;" [ngbPopover]="popContent" popoverClass="popover-override"
                    [popoverTitle]="def.FieldDefinitionType.FieldDefinitionTypeDisplayName" triggers="mouseenter:mouseleave" container="body">
                </i>
            </span>
        }
    </div>
}
