DOCKER_BUILD_SOURCE=.
SECRET_PATH=/run/secrets/appsecrets
ASPNETCORE_ENVIRONMENT=Development
Auth0__Authority=https://knowyourcosttogrow.us.auth0.com
Auth0__Audience=KnowYourCostToGrowAPI
SMTP_HOST={your_computer_ip}
SMTP_PORT=25
SITKA_EMAIL_REDIRECT={set_to_blank_for_prod}
WEB_URL={url for fresca-web}
ALLOW_TRADING={bool}
PlatformLongName=
LeadOrganizationLongName=
LeadOrganizationHomeUrl=
APPINSIGHTS_INSTRUMENTATIONKEY=
SendGridApiKey={sendgrid_api_key}