<header-nav></header-nav>
<oregontilth-migration-notice></oregontilth-migration-notice>
<div class="mh-auto min-vh-100 page-content">
    <oregontilth-breadcrumbs></oregontilth-breadcrumbs>
    <div class="container-fluid">
        
        <div class="row">
            @if (showSideNav()) {
                <side-nav class="col-lg-2"></side-nav>
            }
            <!-- Full width when the nav is hidden, so a signed-out page does not sit next to an
                 empty two-column gutter. -->
            <div [class]="showSideNav() ? 'col-lg-10' : 'col-lg-12'">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    
    
    
</div>
<footer class="footer mt-2">
    <div class="container">
        <br>
        <div class="row">
            <div class="col footer-partners">
                <a href="https://esassoc.com/" alt="Environmental Science Associates" target="_blank">
                    <img src="assets/main/logos/esa-logo.png">
                </a>
                <a href="https://centerforsmallfarms.oregonstate.edu/"  target="_blank">
                    <img src="assets/main/logos/osu-center-for-small-farms-logo.png" class="navbarLogo">
                </a>
                <a href="{{leadOrganizationHomeUrl()}}"  target="_blank">
                    <img src="{{leadOrganizationLogoSrc()}}">
                </a>
            </div>            
        </div>
        <div class="row mt-4 pb-4">
            <div class="col text-center">
                © {{currentYear}} ESA. All Rights Reserved.
            </div>
        </div>
    </div>
</footer>